<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">

    <nav th:fragment="rodape" class="navbar fixed-bottom navbar-light bg-light">
        <a style="font-weight: bold; font-size: 12px; color: #5a6268" class="navbar-brand" href="#">By - Matheus Mendes</a>
        <span class="navbar-brand" style="color: #5a6268; font-size: 12px; font-weight: bold">matheusmendes.developer@gmail.com</span>
    </nav>

</html>