<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <meta charset="UTF-8">
    <title>MyBlog</title>

    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
</head>
<body>

    <header th:insert="fragmentos/cabecalho :: cabecalho"></header>

    <div>
        <span th:include="mensagens/mensagemDeValidacao"></span>
    </div>

    <main class="container" layout:fragment="corpo" style="margin-top: 80px" ></main>

    <footer th:insert="fragmentos/rodape :: rodape" style="margin-top: 100px"></footer>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootsrap.js}"></script>
</body>
</html>